body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: #575757;
}
.red-color{
    color: #EB2D45;
}
.para{
    color:#575757;
    font-size: 22px;
}
.flexible-container{
    display:flex;
    justify-content: center;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    color:white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
    background-image:linear-gradient(#fc6767, #E72A40)
    
}
.section-two{
    display:flex;
    margin-bottom: 60px;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: contain;
}
.half-width-two img{
    height: 700px;
    padding-top: 10px;
    padding-left: 20px;
}
.half-width-new{
    margin: 150px;
}

.recipy{
    text-align: center;
    color:#575757;
}
.para-two{
    text-align: center;
    font-size: 20PX;
}
.food-list{
    width: 100%;
}
.item1{
    width: 30%;
    margin: 20px;
    padding: 20px 20px;
    box-shadow:10px 10px 40px  grey;
    border-radius: 15px;
}
.item2{
    width: 33%;
    margin: 20px;
    padding: 20px 20px;
    box-shadow:10px 10px 40px  grey;
    border-radius: 15px;
}
.item3{
    width: 30%;
    margin: 20px;
    padding: 20px 20px;
    box-shadow:10px 10px 40px  grey;
    border-radius: 15px;
}
.item1 img{
    height: 60%;
    width: 100%;
    border-radius: 15px;
}
.item2 img{
    height: 60%;
    width: 100%;
    border-radius: 15px;
}
.item3 img{
    height: 60%;
    width: 100%;
    border-radius: 15px;
}
.ftr{
    background-color: #0B0D17;
}
.position{
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
}
.red{
    color: #EB2D45;
    text-align: center;
}
.footer-para{
    padding-bottom: 70px;
    text-align: center;
    font-size: 30px;
    color: white;
}